@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 1.6;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}



.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}
.showcase .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #663f3f;
  mix-blend-mode: overlay;
  z-index: -1;
}

 .nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .nav .logo {
  display: flex;
  align-items: center;
  color: #fff;
}

 .nav .logo img {
  width: 45px;
  height: 45px;
  filter: invert(1);
  cursor: pointer;
}

 .nav .logo span {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
 .nav .menu {
  display: flex;
  margin-left: auto;
}

 .nav .menu .menu-list {
  display: flex;
  color: white;
}

 .nav .menu .menu-list li {
  list-style: none;
  margin-right: 20px;
}

 .nav .menu .menu-list li a {
  font-size: 1.5rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.nav .menu .menu-list li a:hover{
  text-decoration: underline;
}

 .nav .menu .toggler {
  display: none;
}


.text {
 margin: 100px 0;
}

.text h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.text h2
{
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.text a{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  background: white;
  text-decoration: none;
  padding: 16px;
  color: #663f3f;
  margin-top: 16px;
  letter-spacing: 0.2rem;
  transition: 0.3s
}

.text a:hover{
  letter-spacing: 0.4rem;
}

.social {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  list-style-type: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  transform: scale(0.6);
  transition: 0.5s;
}

.social li a:hover{
  transform: scale(1.2) translateY(-32px);
} 



/* tablets */
@media (max-width: 768px) {
  .showcase{
    padding: 10px;
    transition-property: right;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  .showcase.is-active{
    right: 300px;
  }

   .nav .logo span {
    font-size: 1.3rem;
  }
   .nav .logo img {
    width: 20.8px;
    height: 20.8px;
  }

.nav .menu {
  position: absolute;
  top: 0;
  margin-top: 200px;
  width: 300px;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.nav .menu .menu-list {
    visibility: hidden;
    flex-direction: column;
    justify-content: center;    
  }

  .nav .menu .menu-list.is-active {
    visibility: visible;
    color:black; 
  }

  .nav .menu .menu-list li a {
    font-size: 1.8rem;
    color: inherit;
    text-decoration: none;
  }

  /* hamburger menu */
  .hamburger{
    margin-left: auto;
  }
  .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

.menu.is-active { /* Full screen .menu menu */
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    position: fixed; 
    box-sizing: border-box;
    display: block;
    transition: all 0.4s ease;

    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 4.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
  
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0px,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0px,0,0);
    padding: 20px;
    height: 100%;
}


.text h1 {
  font-size: 2rem;
}

.text h2 {
  font-size: 2rem;
}
}
/* Mobile */
@media (max-width: 500px) {
  .nav .logo span {
    font-size: 1rem;
  }
  .hamburger .line {
    width: 25px;
    height: 5px;
}
.nav .menu {
  width: 200px;
}
.menu.is-active { /* Full screen .menu menu */
  width: 200px;
}
.showcase.is-active{
  right: 200px;
}
}